<!DOCTYPE html>
<html>
<head>
    <title>Forecast</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/normalize/2.1.3/normalize.min.css">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="weather-icons/css/weather-icons.css">
    <link rel="stylesheet" href="styles.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://yandex.st/underscore/1.5.2/underscore-min.js" charset="utf-8"></script>
    <script src="util.js" charset="utf-8"></script>
    <script src="plot.js" charset="utf-8"></script>
    <script src="tempNow.js" charset="utf-8"></script>
    <script src="timeNow.js" charset="utf-8"></script>
    <script src="addBtn.js" charset="utf-8"></script>
</head>
<body>
    <div class="widgets">
        <div class="now"></div>
        <div class="plot"></div>
        <div class="clock"></div>
        <div class="add_more"></div>
    </div>
    <script id="now.tpl" type="text/template">
        <h1 class="city"><%= city %></h1>
        <div class="weather">
            <span class="temp"><%= temp %></span>
            <span class="clouds <%= cloudIcon %>"></span>
        </div>
        <div class="properties">
            <div class="properties_col">
                <p><%= weather.description %></p>
                <p>Max: <%= tempMax %></p>
                <p>Min: <%= tempMin %></p>
            </div>
            <div class="properties_col">
                <p>Pressure: <%= pressure %> mm Hg</p>
                <p>Humidity: <%= humidity %>%</p>
            </div>
        </div>
    </script>
    <script id="day-info.tpl" type="text/template">
        <div class="day_info" title="<%= weather.description %>">
            <div><%= time %></div>
            <div><%= date %></div>
            <span><%= temp %></span>
            <span class="<%= cloudIcon %>"></span>
        </div>
    </script>
    <script type="text/javascript">
        (function(d3) {
            d3.json("http://api.openweathermap.org/data/2.5/forecast?q=Saint%20Petersburg&mode=json&units=metric", function(error, json) {
                if (error) {
                    console.warn(error);
                    return;
                }
                new TemperaturePlot(json.list.map(function(d) {
                    return {
                        weather: d.weather[0],
                        time: d.dt*1000,
                        temp: d.main.temp
                    }
                }), d3.select('.plot'), {
                    width: 600, height: 300
                });
                new TempNow({
                    city: json.city.name,
                    temp: json.list[0].main.temp,
                    tempMax: json.list[0].main.temp_max,
                    tempMin: json.list[0].main.temp_min,
                    humidity: json.list[0].main.humidity,
                    pressure: json.list[0].main.pressure,
                    weather: json.list[0].weather[0]
                }, d3.select('.now'));
                new TimeNow(d3.select('.clock'));
                new AddBtn(d3.select('.add_more'))
            });
        })(d3);
    </script>
</body>
</html>