.plot .title {
    text-anchor: middle;
    font-size: 200%;
    font-weight: bold;
}
.plot {
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.plot .axis path, .plot line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.plot .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
    stroke-linejoin: round;
}