body {
    font-family: 'Exo 2', Tahoma, sans-serif;
}
div {
    box-sizing: border-box;
}
.widgets {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
}
.widgets>div {
    padding: 15px;
    float: left;
    width: 50%;
    min-height: 440px;
    min-width: 680px;
}

.widgets>div:hover {
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 2px #bab;
}

.plot {
    text-align: center;
}

.plot .axis path, .plot line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.plot .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
    stroke-linejoin: round;
}

.plot .tick {
    text-anchor:middle;
}

.plot .content-test:before {
    content: 'test';
}

.plot .day_info {
    text-align: center;
}

.now {
    position: relative;
}

.now .city {
    font-weight: 200;
}

.now .city {
    font-size: 2em;
    margin: 0;
}

.now .weather {
    text-align: center;
    font-size: 10em;
    line-height: 1.4;
}

.now .properties {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.now .properties_col {
    float: left;
    width: 50%;
}

.now .properties_col:first-letter{
    text-transform: capitalize
}