body {
    font-family: 'Exo 2', Tahoma, sans-serif;
}
div {
    box-sizing: border-box;
}
.widgets {
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
}
.widgets>div {
    float: left;
    width: 50%;
    height: 410px;
    min-width: 650px;
}

.widgets>div:hover {
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 2px #bab;
}

.plot {
    text-align: center;
}

.plot .axis path, .plot line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.plot .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
    stroke-linejoin: round;
}

.plot .tick {
    text-anchor:middle;
}

.plot .content-test:before {
    content: 'test';
}

.plot .day_info {
    text-align: center;
}

.now {
    padding: 15px;
    position: relative;
}

.now .city {
    font-weight: 200;
    font-size: 2em;
    margin: 0;
}

.now .weather {
    text-align: center;
    font-size: 10em;
    line-height: 1.4;
}

.now .properties {
    width: 50%;
    margin: 0 auto;
    min-width: 400px;
    position: relative;
}

.now .properties_col {
    float: left;
    width: 50%;
}

.now .properties_col p {
    margin-bottom: 0;
}

.now .properties_col:first-letter{
    text-transform: capitalize
}

.clock {
    position: relative;
}

.clock .date {
    margin: 15px;
    font-weight: 200;
    font-size: 2em;
}

.clock .time {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 12em;
}

.add_more {
    cursor: pointer;
    position: relative;
}
.add_more.inactive {
    cursor: default;
}

.add_more div {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: 200;
    font-size: 2em;
}