<h1 class="city">
    <span class="city_name"><%= city %></span>
    <small class="city_edit fa fa-pencil"></small>
</h1>
<div class="weather jumbotron">
    <span class="temp"><%= formatTemp(temp) %></span>
    <span class="clouds <%= cloudIcon %>"></span>
</div>
<div class="properties">
    <div class="properties_col">
        <p><%= summary %></p>
        <p>Feels like: <%= formatTemp(apparentTemp, 2) %>°C</p>
    </div>
    <div class="properties_col">
        <p>Pressure: <%= formatNumber(pressure, 2) %> mm Hg</p>
        <p>Humidity: <%= formatNumber(humidity, 2) %>%</p>
    </div>
</div>
