<h1 class="city"><%= city %></h1>
<div class="weather jumbotron">
    <span class="temp"><%= temp %></span>
    <span class="clouds <%= cloudIcon %>"></span>
</div>
<div class="properties">
    <div class="properties_col">
        <p><%= weather.description %></p>
        <p>Max: <%= tempMax %>°C</p>
        <p>Min: <%= tempMin %>°C</p>
    </div>
    <div class="properties_col">
        <p>Pressure: <%= formatNumber(pressure, 2) %> mm Hg</p>
        <p>Humidity: <%= formatNumber(humidity, 2) %>%</p>
    </div>
</div>