<h2>Current city:
    <span ng-switch="editCity" class="modal_city">
        <form ng-switch-when="true" ng-submit="setEditing(false)">
            <label><input type="text" ng-model="$parent.city" list="cities"></label>
            <span class="fa fa-check" ng-click="setEditing(false)"></span>
            <datalist id="cities">
                <option ng-repeat="city in cities track by city.id" value="{{city.title}}">
            </datalist>
        </form>
        <span ng-switch-default>{{city}} <span class="fa fa-pencil" ng-click="setEditing(true)"></span></span>
    </span>
</h2>
<h2>Available widgets:</h2>
<div class="modal_widget" ng-repeat="widget in widgets">
    <div class="pull-right">
        <button class="modal_button modal_button_active" ng-show="widget.active" ng-click="toggleWidget(widget)">
            <span class="fa fa-times"></span>
            Remove
        </button>
        <button class="modal_button" ng-hide="widget.active" ng-click="toggleWidget(widget)">
            <span class="fa fa-plus"></span>
            Add
        </button>
    </div>
    <b>{{widget.title}}</b><br/>
    <i>{{widget.description}}</i>
</div>